#header {
	width: 600px;
	border: 1px solid #000000;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#linkbar {
	white-space: nowrap;
	margin-bottom: 5px;
}

#page-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 600px;
}

#mininav {
    white-space: nowrap;
    position: absolute;
    left: 65%;
}
