#site-info {
    border: 1px #000000 solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 600px;
}

#page-list {
    border: 1px #000000 solid;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}

ul {
    margin-left: 10px;
    padding-bottom: 10px;
}

li {
    margin-top: 10px;
}

form {
    margin-left: 10px;
    padding-bottom: 10px;
    display: inline;
}

input {
    margin-top: 10px;
}

.minimized {
    display: none;
}

button {
    overflow: visible;
    margin-left: 10px;
    margin-top: 10px;
    width: auto;
}

button.link {
    text-align: left;
    color: blue;
    background: none;
    margin: 0px;
    padding: 0px;
    border: none;
    cursor: pointer;
}

button.link span {
    text-decoration: underline;
}

button.link:hover span,
button.link:focus span {
    color: black;
}

#timebox {
    margin-left: 10px;
}

#weekday {
    margin-left: 10px;
}
