html {
    background: #F8F8F8;
}

body {
    background: #F8F8F8 url(/site_media/img/bgs.png) repeat-x left -128px;
    color: #404040;
    min-height: 500px;
}

body, #overview h4 {
    font-family: Helvetica, Arial, sans-serif;  
}

a {
    color: #006485;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;
    margin: 0.5em 0;
}

h2 {
    font-size: 272%;
}

h3 {
    font-size: 174%;
}

h4 {
    font-size: 167%;
}

p {
    margin: 0.5em 0;
}

label {
    display: block;

}

input[type="text"], input[type="password"] {
    margin: 0.1em 0;
}

input[type="submit"], a.button {
    font-weight: bold;
    border:1px solid #488F03;
    text-shadow:-1px -1px 1px #7BAB29;
    padding: 5px 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    font-size: 123.1%;
    cursor: pointer;
    background: url(/site_media/img/button-green.jpg) center center repeat-x;
}

#header:after, #overview:after, #wrapper:after {
    content: ".";
    clear: both;
    height: 0;
    width: 0;
    visibility: hidden;
    display: block;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
    font-size: 108%;
}

td, th {
    font-size: 108%;
}


#header {
    position: relative;
    min-height: 96px;
    _height: 96px;
    margin: 0 0 0.5em 0;
}

#logo {
    float: left;
    margin: 0;
}

#logo a {
    margin: 0;
    padding: 0;
    display: block;
}

#logo img {
    display: block;
}

#nav, .subnav {
    position: absolute;
    right: 0;
    bottom: 0;
}

#nav li, .subnav li {
    display: block;
    float: left;
    font-size: 123.1%;
    background: #fff url(/site_media/img/bgs.png) repeat-x left -60px;
    border-radius-topright: 6px;
    border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
    margin: 0 2px;
}

#nav li.active, .subnav li.active {
    background: #fff url(/site_media/img/bgs.png) repeat-x left -24px;
    font-weight: bold;
}

#nav li a, .subnav li a {
    color: #000;
    text-decoration: none;
    padding: 7px 17px 5px;
    display: block;
}

#account {
    float: right;
    color: #fff;
    font-size: 91%;
}

#account a {
    color: #fff;
}

#breadcrumbs {
    font-size: 123.1%;
    font-family: Georgia, serif;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

.heading, .subheading {
    border-bottom: 1px solid #bbb;
    position: relative;
    clear: both;
    min-height: 2.15em;
    _height: 2.15em;
}

.heading {
    margin: 0 0 2em 0;
}

.heading h2 {
    display: inline;
}

.heading a {
    font-size: 138.5%;
}

.heading .subnav, .subheading .subnav {
    bottom: -1px;
}

.heading .subnav li {
    background-position: left -96px;
    font-size: 100%;
    border: 1px solid #bfbbb5;
    border-radius-topright: 3px;
    border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
}

.heading .subnav li.active, .subheading .subnav li.active {
    border-bottom: 1px solid #f8f8f8;
    font-weight: bold;
}

.heading .subnav li a {
    padding: 4px 11px 0px;
}

.edit {
    background: url(/site_media/img/icons.png) left -48px no-repeat;
    padding: 0 0 0 20px;
}

.subheading .edit {
    font-size: 116%;
}

.add {
    background: url(/site_media/img/icons.png) left -205px no-repeat;
    padding: 0 0 0 20px;
}

.heading .edit, .subheading .edit, 
.heading .add, .subheading .add {
    position: absolute;
    bottom: 0;
    right: 0;
}

/** Modules **/
.module {
    display: inline;
    width: 460px;
    margin: 0 0 1em 0;
    float: left;
}

.module .subnav li {
    border-radius-topright: 1px;
    border-radius-topleft: 1px;
    -moz-border-radius-topright: 1px;
    -moz-border-radius-topleft: 1px;
    font-size: 100%;
    background-position: top left;
    border: 1px solid #bfbbb5;
}

.module .subnav li a {
    padding: 5px 10px 1px;
}

.module.secondary {
    float: right;
}

/** END Modules **/


/** Table Styles **/

table {
    width: 100%;
}

td, th {
    padding: 5px;
}

tr:nth-child(even) {
    background: #ebebeb;
}

/** END Table Styles **/

/** Overview styles **/

#overview {
    margin: 0 0 1em 0;
}

#overview .module {
    float: left;
    width: 150px;
}

#overview h4 {
    font-weight: bold;
}

#overview p {
    font-size: 146.5%;
}

#overview .run {
    width: 200px;
}


/** END Overview Styles **/

/** Score Styles **/

.score {
    font-weight: bold;
}

td.score {
    font-weight: normal;
}

.scoreA {
    color: #34a134;
}

.scoreB {
    color: #79a21a;
}

.scoreC {
    color: #bea200;
}

.scoreD {
    color: #cf7421;
}

.scoreF {
    color: #df4444;
}

td.score p, td.size p, td.requests p {
    float: left;
    margin: 0 0.5em 0 0;
}

/** End Score Styles **/

/** Scorebar Styles **/
.scoreBarA, .scoreBarB, .scoreBarC, .scoreBarD, .scoreBarF {
    height: 16px;
    float: left;
}

.scoreBarA {
    background-color: #34a134;
}

.scoreBarB {
    background-color: #79a21a;
}

.scoreBarC {
    background-color: #bea200;
}

.scoreBarD {
    background-color: #cf7421;
}

.scoreBarF {
    background-color: #df4444;
}
/** End Scorebar Styles **/

/** Registration Form **/
#register {
    float: left;
    width: 360px;
}

#register li {
    margin-bottom: 1em;
}

#register li li {
    margin-bottom: 0;
}

#register-message {
    float: left;
    width: 430px;
    margin: 0 0 0 30px;
    background: #ddd;
    padding: 4px 10px;
    font-size: 123.1%;
}

#register-message h3 {
    margin-top: 0;
}

/** End Registration Form **/

/** Forms styling **/
.errorlist {
    color: red;
    font-weight: bold;
}

/** End forms styling **/

/** Prose (default) styles **/
.prose ul li {
    margin: 0.5em 0 0 0.5em;
    list-style-type: disc;
}

.prose ul {
    margin: 0 0 0 1em;
}
/** End Prose styles **/

.signup-features {
    margin: 1em 0 0 0;
    width: 280px;
}

.signup-features a.button {
    font-size: 153.9%;
}

.signup-features li {
    font-size: 123.1%;
}

#homepage-screenshot {
    float: right;
}

#signup-message {
    font-weight: bold;
    background: #FFFED5;
    padding: 0.5em;
    margin: 1em 0;
}