{% extends "base.html" %}

{% block content %}
<p id="breadcrumbs"><a href="#">All Sites</a>  »</p>
            
            <div class="heading">
                <h2>{{ site.base_url }}</h2>
                
                <a href="#" class="edit">Edit this site</a>
                
            </div>
            
            <div id="overview">
                <div class="module">
                    <h4>Site Score</h4>
                    <p class="scoreA score">100 (A)</p>
                </div>
                <div class="module run">
                    <h4>Last Test Run</h4>
                    <p>Yesterday @ 12:00</p>
                </div>
                
                <div class="module run">
                    <h4>Next Test Run</h4>
                    <p>Tomorrow @ 12:00</p>
                </div>
            </div>
            
            
            <div class="module">
                <div class="subheading">
                    <h3>Site Statistics</h3>
              
                </div>
                
                <table>
                    <tr>
                        <td>Average Score</td>
                        <td>92 (A)</td>
                    </tr>
                    <tr>
                        <td>Average Page Weight</td>
                        <td>389K</td>
                    </tr>
                    <tr>
                        <td>Average HTTP Requests</td>
                        <td>23</td>
                    </tr>
                </table>
            </div>
            <div class="module secondary">
                <div class="subheading">

                    <ul class="subnav">
                        <li><a href="#">Score</a></li>
                        <li><a href="#">Size</a></li>
                        <li class="active"><a href="#">Requests</a></li>
                    </ul>
                </div>    
            </div>
            
            <div class="subheading">
                <h3>Page Details</h3>
                <a href="#" class="edit">Add / Remove Pages</a>
            </div>
            
            {% if site.page_set %}
                <table>
                    <tr>
                        <th>Page</th>
                        <th>Score</th>
                        <th>Size (KB)</th>
                        <th>HTTP Requests</th>
                    </tr>
                    
                    {% for page in site.page_set.all %}
                        <tr>
                            <td>{{page.url}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif%}
{% endblock content %}