{% extends "base.html" %}

{% block title %}
Cesium - Dashboard
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/site_media/css/index.css" />
{% endblock style %}

{% block content %}
<h2 id="page-title">Dashboard</h2>
<ul id="content">
{% if sites %}
    {% load extra_tags %}
    {% for site in sites %}
        {% with site|first|lookup:"site_id" as id %}
        {% with site|first|lookup:"base_url" as label %}
        <li id="{{ id }}"><!-- class="graph_container">-->
        <div id="label{{ id }}" class="site_label">{{ label }}</div>
        <div id="graph{{ id }}" class="graph"></div>
        </li>
        {% endwith %}
        {% endwith %}
    {% endfor %}
{% else %}
    <li>You have no Sites to display.</li>
{% endif %}
</ul>
<div id="tooltip" class="hidden"></div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/index.js"></script>
<script type="text/javascript" src="/site_media/js/graph.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var data = {{ json_data|safe }};
    var graphs = new Graphs();
    graphs.display(data, [1, "day"]);
    var fx = new PageFX();
    fx.bindEffects();
});
</script>
{% endblock scripts %}
