{% extends "base.html" %}

{% block title %}
Cesium - Dashboard
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/site_media/css/index.css" />
{% endblock style %}

{% block content %}
<h2 id="page-title">Dashboard</h2>
<ul id="content">
{% if sites %}
    {% load extra_tags %}
    {% for site in sites %}
        {% with site|first|lookup:"site_id" as id %}
        {% with site|first|lookup:"base_url" as label %}
        <li id="{{ id }}"><!-- class="graph_container">-->
        <div id="label{{ id }}" class="site_label">{{ label }}</div>
        <div id="graph{{ id }}" class="graph"></div>
        </li>
        {% endwith %}
        {% endwith %}
    {% endfor %}
{% else %}
    <li>You have no Sites to display.</li>
{% endif %}
</ul>
<div id="tooltip" class="hidden"></div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/index.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var data = {{ json_data|safe }};
    for (var site_id in data) {
        for (var point in data[site_id])
            data[site_id][point][0] *= 1000;
        $.plot($("#graph"+site_id),
            [data[site_id]], {
                xaxis: {
                    mode: "time", 
                    minTickSize: [1, "day"]
                },
                yaxis: {
                    min: 0,
                    max: 100,
                },
                lines: {
                    show: true, 
                    fill: true,
                    fillColor: "rgba(0, 255, 0, 0.7)",
                    lineWidth: 3
                },
                points: {show: true},
                grid: {
                    backgroundColor: "#cc0000"
                },
                colors: ["#000000"]
            }); 
    }
    var fx = new PageFX();
    fx.bindEffects();
});

function PageFX() {
    PageFX.prototype.bindEffects = function() {
        // this.bindMiniMax();
        this.bindDragAndDrop();
        this.bindTooltip();
    }

    PageFX.prototype.bindTooltip = function() {
        $('.graph').bind('plothover', function(event, pos, item) {
            if (item) 
            {
                if (previousPoint != item.datapoint) 
                {
                    previousPoint = item.datapoint;
                    $("div#tooltip").addClass("hidden");
                    var x = item.datapoint[0].toFixed(2);
                    var y = item.datapoint[1].toFixed(2);
                    
                    showTooltip(item.pageX, item.pageY, '');
                }
            }
        });
    }

    PageFX.prototype.hideTooltip = function() {
        $('div#tooltip').addClass("hidden");
    }

    PageFX.prototype.showTooltip = function(content, x, y) {
        $('div#tooltip').html(content);
        $('div#tooltip').removeClass("hidden");
        $('div#tooltip').css({
            'left': x,
            'top': y,
        });
    }

    PageFX.prototype.bindMiniMax = function() {
        $(".site_label").click(function () {
            if ($(this).parents(":first").hasClass("moved"))
                $(this).parents(":first").removeClass("moved");
            else
                $(this).siblings(":first").toggleClass("minimized");
        });
    }

    PageFX.prototype.bindDragAndDrop = function() {
        $("#content").sortable({
            tolerance: 'pointer',
            start: function(event, ui) {
                ui.item.addClass("moved");
            },
            stop: function() {
                $.cookie('graph_order', $('ul').sortable("toArray"), {root: '/'});
            }
        });
        $("#content").disableSelection();
        /*var tempMe = this;
        $(".graph_container").draggable({
            delay: 100,
            distance: 10,
            revert: 'invalid',
            start: function() {
                $(this).addClass("moved");
                $(".grid_square").removeClass("invisible");
                $(".grid_square").addClass("visible");
            }
        });
        $(".grid_square").droppable({
            deactivate: function(event, ui) {
                $(".grid_square").removeClass("visible");
                $(".grid_square").addClass("invisible");
                ui.draggable.css({
                    'top': $(this).css('top'), 
                    'left': $(this).css('left')
                });
            },
            over: function(event, ui) {
                var src = ui.draggable.parents(":first").attr('id');
                var dest = $(this).attr('id');
                var newlist = tempMe.shiftStuff($.makeArray($(".graph_container")), src, dest);
                $(".graph_container").css('visibility', 'hidden');
                ui.draggable.css('visibility', 'hidden');
                ui.helper.css('visibility', 'hidden');
                $(".grid_square").each(function(i) {
                    $(this).append(newlist[i]);
                });
                ui.helper.css('visibility', 'visible');
                ui.draggable.css('visibility', 'visible');
                $(".graph_container").css('visibility', 'visible');
            },
            tolerance: 'pointer'
        });*/
    }

    PageFX.prototype.shiftStuff = function(list, source, dest) {
        // calculate the number of left rotations we'll need
        var n_rot;
        if (source > dest)
            n_rot = source - dest;
        else
            n_rot = 1;

        // get the slice we'll be working on
        var low_idx = Math.min(source, dest);
        var hi_idx = Math.max(source, dest);

        if (low_idx == hi_idx)
            return list;

        var slice = list.slice(low_idx, (hi_idx+1));
 
        // do the actual rotation
        var half1 = slice.slice(0, n_rot);
        var half2 = slice.slice(n_rot);
        var rotated = half1.reverse().concat(half2.reverse()).reverse();
    
        // copy all changes back to the original
        for (var i = 0; i < rotated.length; i++)
            list[low_idx+i] = rotated[i];
        
        return list;
    }
}
</script>
{% endblock scripts %}
