{% extends "base.html" %}

{% block title %} - Home{% endblock title %}

{% block content %}

<div class="intro">
    <h2>Monitor YSlow grades for all your websites automatically.</h2>
</div>

<div class="module signup-features prose">
    <p>
        <a href="{%url accounts.new %}" class="button">Sign up now! It's free!</a>
    </p>
    <h3>Features:</h3>
    <ul>
        <li>Pretty Graphs</li>
        <li>Cool colors</li>
        <li>No more testing manually!</li>
        <li>100% free!</li>
    </ul>
</div>

<img src="{{ MEDIA_URL }}img/home-screenshot.jpg" alt="" id="homepage-screenshot"/>

{% endblock content %}