{% extends "base.html" %}

{% block title %}
- Site Info - {{ site.base_url }}
{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/info.css" />
{% endblock style %}

{% block content %}
<div id="site-info">
{% if site %}
    <form action="{% url cesium.autoyslow.site_views.update_site site.id %}" method="post">
    <p>Base URL: {{ site.base_url }}</p>
    <br />
{% else %}
    <form action="{% url cesium.autoyslow.site_views.add_site %}" method="post">
    <p>Base URL: <input type="text" name="base_url"></input></p>
    <br />
{% endif %}
{{ form.as_p }}
<button type="submit">Submit</button>
</form>
</div>

{% if site %}
<div id="page-list">
    <h2 id="page-title">Pages</h2>
    <ul>
        {% for page in site.page_set.all %}
        <li>{{ page.url }}
        <form action="{% url cesium.autoyslow.site_views.remove_page site.id,page.id %}" method="post">
            <button type="submit" class="link"><span>Remove</span></button>
        </form>
        </li>
        {% endfor %}
    </ul>
    <form action="{% url cesium.autoyslow.site_views.add_page site.id %}" method="post">
        <input type="text" name="url" id="page-empty" value="" />
        <br />
        <button id="page_button" type="submit">Submit</button>
    </form>
</div>
{% endif %}
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/warning.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var warning = new Warning();
    warning.addWarning('button.link');
    $('.freq').change(function() {
        var val = $(this).attr('value');
        if (val === "hourly" || val === "daily")
            $("#weekday").addClass("minimized");
        else
            $("#weekday").removeClass("minimized");
    });
});
</script>
{% endblock scripts %}
